{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center">
    <a class="btn btn-success mt-4 mb-4" href="{{ path('movie_add') }}">
        ADD
    </a>
    <table class="table table-striped">
        <tr>
            <th>Movie Id</th>
            <th>
              <a class="text-decoration-none" href="{{ path("sort_name_asc") }}">
                    <img src="{{ asset('images/up.png') }}" width="20" height="20">
                </a>
            Movie Name
               <a class="text-decoration-none" href="{{ path("sort_name_desc") }}">
                    <img src="{{ asset('images/down.png') }}" width="20" height="20">
                </a>
            </th>
            <th>Movie Poster</th>
            <th>Actions</th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>
                    {{ movie.name }}    
                </td>
                <td>
                    <a href="{{ path('movie_detail',{'id' : movie.id })}}">
                        <img src="{{ movie.image }}" width="100" height="100">
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('movie_edit',{'id' : movie.id })}}">
                        EDIT
                    </a>
                    <a class="btn btn-danger" href="{{ path('movie_delete',{'id' : movie.id })}}"
                        onclick=return confirm('Are you sure to delete this movie ?')
                    >
                        DELETE
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
