{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 mt-5 text-center">
{# code để hiển thị flash message được gửi từ controller #}
<div class="container col-md-4">
    {% for flash in app.flashes('Success') %}
        <p class="alert alert-warning">{{ flash }}</p>
    {% endfor %}
    {% for flash in app.flashes('Error') %}
        <p class="alert alert-danger">{{ flash }}</p>
    {% endfor %}
</div>
<h1 class="text text-primary">Author List</h1>
<a href="{{ path('author_add') }}" class="btn btn-success">Add author</a>
<div class="form-group col-md-6 mt-3">
    <form action="{{ path('author_search') }}" method="post">
        <input type="search" name="word" required class="form-control"
        placeholder="Search author name"
        >
    </form>
</div>
<table class="table table-primary mt-3">
    <thead>
        <tr>
            <th>Author Id</th>
            <th>Author Name</th>
            <th>Author Avatar</th>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>
                <a href="{{ path ('author_detail', {'id' : author.id })}}">
                    <img src="{{ author.image }}" width="100" height="100">  
                </a>        
            </td>
            <td>
            <a href="{{ path ('author_edit', {'id' : author.id })}}" class="btn btn-warning">Edit</a>
            <a href="{{ path ('author_delete', {'id' : author.id })}}" class="btn btn-danger"
            onclick="return confirm('Are you sure to delete this author ?');"
            >Delete</a>
            </td>
        </tr>
    {% endfor %}  
    </tbody>
</table>
</div>
{% endblock %}